@font-face {
  font-family: "blackchancery";
  src: url("../public/fonts/blackchancery.regular.ttf") format("truetype");
}

:root {
  --goldMain: rgb(205, 161, 98);
  --goldLight: rgba(252, 237, 181, 0.43);
  --redDark: #300000;
}

body {
  margin: 0;
  padding: 0;
  font-family: "blackchancery", sans-serif;
  background-image: url("../public/images/page_background.jpeg");
  background-size: cover;
}

button {
  font-family: "blackchancery";
  font-size: large;
  padding-left: 1em;
  padding-right: 1em;
}
